{{ form_start(form) }}


    <div class="col-md-4">{{ form_row(form.name) }}</div>
    <div class="col-md-4">{{ form_row(form.surname) }}</div>
    <div class="col-md-4">{{ form_row(form.password) }}</div>
    <div class="col-md-4">{{ form_row(form.tel) }}</div>


    <div class="col-md-4">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.birthDate) }}</div>

{{ form_rest(form) }}
<button class="btn btn-primary">{{button| default('submit')}}</button>
{{ form_end(form) }}