{{ form_start(form) }}

    <div class="col-md-4">{{ form_row(form.username) }}</div>
    <div class="col-md-4">{{ form_row(form.email) }}</div>
    <div class="col-md-4">{{ form_row(form.password) }}</div>
    <div class="col-md-4">{{ form_row(form.tel) }}</div>
    <div class="col-md-4">{{ form_row(form.birthDate) }}</div>

{{ form_row(form._token) }}
<button class="btn btn-primary">{{button| default('submit')}}</button>
