{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Client Register Form</h1>
        {{  include ('security/_ClientForm.html.twig', { button: 'register'}) }}
    </div>
    <p>If you already have an account please <a href="{{ path('user.login') }}">sign in</a></p>

{% endblock %}


