{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Register</h1>
        {{  include ('security/_form.html.twig', { button: 'register'}) }}
    </div>

{% endblock %}

