{% extends 'base.html.twig' %}

{% block title 'Get Connected' %}

 {% block body %}
     <div class="container mt-4">
         {% for message in app.flashes('success') %}
             <div class="alert alert-success">
                 {{ message }}
             </div>
         {% endfor %}
         {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
         {% endif %}

         <form action="{{ path('user.login') }}" method="post">
             <div class="form-group">
                 <label for="username">Username</label>
                 <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
             </div>

             <div class="form-group">
                 <label for="password">Password</label>
                 <input type="password" id="password" name="_password" class="form-control">
             </div>
             <button type="submit" class="btn btn-primary">login</button>
         </form>
         <p>If you don't have an account please <a href="{{ path('client.register') }}">sign up</a></p>

     </div>

 {% endblock  %}