{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">{{ form_row(form.type) }}</div>
    <div class="col-md-4">{{ form_row(form.status) }}</div>
    <div class="col-md-4">{{ form_row(form.validTime) }}</div>
</div>
{{ form_row(form._token) }}
<button class="btn btn-primary">{{button| default('submit')}}</button>
{{ form_end(form) }}

