{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Admin Management</h1>
        {{  include ('admin/managment/_form.html.twig', { button: 'Edit'}) }}
    </div>

{% endblock %}
