{% extends 'base.html.twig' %}

{% block title 'Admin Management' %}

 {% block body %}
     <div class="container mt-4">
         <h1>Management</h1>
         {% for message in app.flashes('success') %}
             <div class="alert alert-success">
                 {{ message }}
             </div>
         {% endfor %}
         <table class="table table-striped">
             <thead>
             <tr>
                 <th>Admin</th>
                 <th>Email</th>
                 <th>Status</th>
                 <th>Action</th>
             </tr>
             </thead>
             <tbody>
             {% for admin in admins %}
                 <tr>
                     <td>{{ admin.username }}</td>
                     <td>{{ admin.email }}</td>
                     {%   if admin.status == 0 %}
                         <td  style="color: crimson">DESABLE</td>
                     {% else %}
                         <td  style="color: chartreuse">ENABLE</td>
                     {% endif %}
                     <td>
                         <a href="{{ path('admin.managment.edit', {id: admin.id}) }}" class="btn btn-secondary">Edit</a>
                     </td>

                 </tr>
             {% endfor %}
             </tbody>
         </table>

     </div>

 {% endblock  %}