{% extends 'base.html.twig' %}

{% block title 'Agence de Vente de Voiture' %}

 {% block body %}
  <div class="container mt-4">
   <div class="jumbotron text-center">
    <h3>Agence de Vente de Voiture</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci at commodi, dolor dolores enim ipsam iure laborum molestias nam nobis odit pariatur placeat quas, quibusdam quos sequi ut vel.</p>
   </div>
   </div>
  <div class="container">
   <h2>Latest Car</h2>
   <div class="row flex">
      {% for property in properties %}

      <div class="col-3">
       <div class="card">
        {% if property.fileName %}
         <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" alt="card-img-top" style="width: 100%; height: auto;">
        {% else %}
         <img src="{{ 'images/properties/avatar.png' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
        {% endif %}
        <h5 class="card-title">
         <a href="{{ path ('property.show', {id: property.id, slug: property.slug})}}">{{ property.fabricant }} {{ property.model }}</a>
        </h5>
        <p class="card-test">{{ property.city }}</p>
        <div class="text-primary" style= "font-weight: bold; font-size: 2rem;">{{ property.FormatPrice }} $</div>
       </div>
      </div>
      {% endfor %}
   </div>
  </div>

{% endblock  %}