{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.title) }}</div>
    <div class="col-md-4">{{ form_row(form.model) }}</div>
    <div class="col-md-4">{{ form_row(form.fabricant) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.price) }}</div>
    <div class="col-md-4">{{ form_row(form.annee) }}</div>
    <div class="col-md-4">{{ form_row(form.sold) }}</div>
</div>

<div class="row">
    <div class="col-md-4">{{ form_row(form.nbrporte) }}</div>
    <div class="col-md-4">{{ form_row(form.couleur) }}</div>
    <div class="col-md-4">{{ form_row(form.description) }}</div>
</div>
<div class="row">

    <div class="col-md-4">{{ form_row(form.kilometer) }}</div>
    <div class="col-md-4">{{ form_row(form.carCondition) }}</div>
    <div class="col-md-4">{{ form_row(form.city) }}</div>
    <div class="col-md-4">{{ form_row(form.options) }}</div>

    <div class="col-md-4"><p>{{ property.fileName }}</p> {{ form_row(form.imageFile) }}</div>
</div>

{{ form_rest(form) }}
<button class="btn btn-primary">{{button| default('submit')}}</button>
{{ form_end(form) }}

