{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Goods</h1>
            {{  include ('admin/property/_form.html.twig', { button: 'Edit'}) }}
    </div>

{% endblock %}
