{% extends 'base.html.twig' %}

{% block title 'Cars Management' %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1> Your Account is not yet Enable</h1>
            <p>You'll sun receive an Email on <em>{{ admin.email }}</em> notifying about your Query to be admin <br> You'll receive new professional email address for your next login</p>
        </div>
    </div>
{% endblock %}

