{% extends 'base.html.twig' %}

{% block title 'Cars Management' %}

 {% block body %}
     <div class="container mt-4">
         <h1>Management</h1>
         {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
         {% endfor %}
         <table class="table table-striped">
             <thead>
             <tr>
                 <th>Car</th>
                 <th>Actions</th>
             </tr>
             </thead>
             <tbody>
             {% for property in properties %}
             <tr>
                 <td>{{ property.fabricant }} {{ property.model }}</td>
                 <td>
                     <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Edit</a>
                     <form method="post" action="{{ path('admin.property.delete', {id: property.id }) }}" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete this ?')">
                         <input type="hidden" name="_method" value="DELETE">
                         <input type="hidden" name="_token" value="{{ csrf_token('delete-item') }}">
                         <button class="btn btn-danger">Delete</button>
                     </form>
                 </td>
             </tr>
             {% endfor %}
             </tbody>
         </table>

         <div class="text-right">
             <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Add Car</a>
         </div>
         <div class="pagination">
             {{ knp_pagination_render(properties) }}
         </div>
     </div>

 {% endblock  %}