{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Add Car</h1>
        {{  include ('admin/property/_form.html.twig', {button: 'Add'}) }}
    </div>

{% endblock %}

