<div class="card mb-4">
    {% if property.fileName %}
        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
        {% else %}
            <img src="{{ 'images/properties/avatar.png' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-tittle">
            <a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">
                {{ property.fabricant }} {{ property.model }}
            </a>
        </h5>
        <p class="card-text">
            {{ property.city }}
        </p>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold;">
            {{ property.formatPrice }} $
        </div>
    </div>
</div>
