{% extends 'base.html.twig' %}

{% block title 'Voire toutes nos voitures' %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron  mt-4">
                <h3>Customize Search</h3>
                <div class="container">
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.fabricant) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.model) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.options) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.carCondition) }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.minKilometer) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.maxKilometer) }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.minPrice) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.maxPrice) }}
                            </div>

                        </div>


                    </div>
                    <div class="col">
                        {{ form_row(form.sortby) }}
                        <button class="btn btn-primary">Search</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="container mt-4">
                <div class="jumbotron text-left">
                    <h3>Brand New Cars</h3>
                    <div class="row">
                        {%  for property in properites %}
                            <div class="col-md-4">
                                {% include 'property/_property.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {{ knp_pagination_render(properites) }}
                    </div>
                </div>
            </div>
        </div>
    </div>



 {% endblock  %}