{% extends 'base.html.twig' %}
{% block title property.title %}
{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-8">
                    {% if property.fileName %}
                        <img src="{{ vich_uploader_asset(property, 'imageFile')  }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="{{ 'images/properties/avatar.png'  }}" alt="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">

                    <h1>{{ property.fabricant }}   {{ property.model }}</h1>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.formatPrice }} $</div>
                    <a href="#" class="btn btn-primary">Contact Us</a> <a href="{{ path('client.favorite', {id: property.id, slug: property.slug}) }}" class="btn btn-danger">Add To Favorite</a>
                    <div id="contactForm" class="mt-4">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.phone) }}</div>
                            <div class="col">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group">
                            <button class="btn btn-primary">Send</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">

       <p>
           <h4>{{ property.description | nl2br }}</h4>  <h1>{{ property.title }}</h1>
       </p>
        <div class="row">
            <div class="col-md-8">
                <h2> About {{ property.fabricant }} {{ property.model }} </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Body type</td>
                        <td>{{ property.bodyType }}</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>{{ property.annee }}</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>{{ property.couleur }}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ property.city }}</td>
                    </tr>

                    <tr>
                        <td>Kilometer</td>
                        <td>{{ property.formatKilometer }} Km</td>
                    </tr>
                    <tr>
                        <td>Condition</td>
                        {% if property.carCondition == 1  %}
                        <td>Used</td>
                        {% else  %}
                        <td>New</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Specificity</h2>
                <ul class="list-group">
                {% for option in property.options %}
                    <li class="list-group-item">
                        {{ option.name }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}




