{% extends 'base.html.twig' %}
{% block title client.username %}
{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">


                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">


        <div class="row">
            <div class="col-md-8">
                <h2> About {{ client.name }} {{ client.surname }}</h2>
                <table class="table table-striped">
                    <tr>
                        <td>User Name</td>
                        <td>{{ client.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <td>Birth Date</td>
                        <td>{{ client.birthDate.format("d/m/Y")}}</td>
                    </tr>
                    <tr>
                        <td>Tel Number</td>
                        <td>{{ client.tel }}</td>
                    </tr>

                </table>
            </div>
            <div class="col-md-4">
                <h2>Basket</h2>

                {% for property in client.clientProperties %}
                    {% if property.sold == 0 %}
                   <div class="container mt-2">
                       <div class="row">
                           <div class="">
                               <div class="list-group list">
                                   <div class="">
                                       <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" class="pull-left photo" alt="card-img-top" style="width: 100%; height: auto;">
                                       <h4 class="list-group-item-heading name">{{ property.fabricant }}</h4>
                                       <p class="list-group-item-text title"> {{ property.model }}</p>
                                       <div class="text-primary" style= "font-weight: bold; font-size: 2rem;">{{ property.FormatPrice }} $</div>
                                   </div>
                                   <div class="">
                                       <a href="#" class="btn btn-danger">Buy</a> <a href="{{ path('favorite.remove', {id: property.id}) }}" class="btn btn-danger">remove</a>
                                   </div>
                               </div>
                           </div>

                       </div>

                   </div>
                    {% else %}
                        <div class="container mt-2">
                            <div class="row">
                                <div class="">
                                    <div class="list-group list">
                                        <div class="">
                                            <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" class="pull-left photo" alt="card-img-top" style="width: 100%; height: auto;">
                                            <h4 class="list-group-item-heading name">{{ property.fabricant }}</h4>
                                            <p class="list-group-item-text title"> {{ property.model }}</p>
                                            <div class="text-primary" style= "font-weight: bold; font-size: 2rem;">{{ property.FormatPrice }} $</div>
                                        </div>
                                        <div class="">
                                            <a href="#" class="btn btn-secondary">This item is no longer available</a> <a href="{{ path('favorite.remove', {id: property.id}) }}" class="btn btn-danger">remove</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}




