<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" style="color: white" href="{{ path('home') }}">Agency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link  {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" style="color: white" href="{{ path('property.index') }}">Cars</a>
                </li>
                </ul>
            <ul class="navbar-nav">
            {% if app.user and is_granted('ROLE_USER') %}
             <li class="nav-item">
                  <a href="{{ path('client.profile',{slug: client.slug, id: client.id}) }}" class="nav-link" style="color: white">Account</a>
             </li>
             <li class="nav-item">
                 <a href="{{ path('logout') }}" class="nav-link" style="color: white">Logout</a>
             </li>
         {% elseif app.user and is_granted('ROLE_ADMIN') %}
             {% if admin.type == 2 or admin.type == 'super admin' %}
                 <li class="nav-item">
                     <a href="{{ path('admin.management') }}" class="nav-link" style="color: white">Admins</a>
                 </li>
             {% endif %}
             <li class="nav-item">
                 <a href="{{ path('admin.property.index') }}" class="nav-link" style="color: white">View Cars</a>
             </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link" style="color: white">Logout</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a href="{{ path('user.login') }}" class="nav-link" style="color: white">Sign in</a>
                </li>
            {% endif %}

       </ul>
        </div>
    </nav>
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
        <script>
            $('select').select2();
        </script>

    </body>
</html>
