{% extends 'base.html.twig' %}

{% block title 'Cars Management' %}

 {% block body %}
     <div class="container mt-4">
         <h1>Options Management</h1>
         {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
         {% endfor %}
         <table class="table table-striped">
             <thead>
             <tr>
                 <th>Name</th>
                 <th>Actions</th>
             </tr>
             </thead>
             <tbody>
             {% for option in options %}
             <tr>
                 <td>{{ option.name }}</td>
                 <td>
                     <a href="{{ path('admin.option.edit', {id: option.id}) }}" class="btn btn-secondary">Edit</a>
                     <form method="post" action="{{ path('admin.option.delete', {id: option.id }) }}" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete this ?')">
                         <input type="hidden" name="_method" value="DELETE">
                         <input type="hidden" name="_token" value="{{ csrf_token('delete-item') }}">
                         <button class="btn btn-danger">Delete</button>
                     </form>
                 </td>
             </tr>
             {% endfor %}
             </tbody>
         </table>
         <div class="text-right">
             <a href="{{ path('admin.option.new') }}" class="btn btn-primary">Add Option</a>
         </div>
     </div>

 {% endblock  %}